<%= simple_form_for(@desempenho) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :orgao, as: :select, include_blank: false %>
    <%= f.association :magistrado, as: :select, include_blank: false %>
    <%= f.input :decisoes %>
    <%= f.input :decisoes_557 %>
    <%= f.input :acordos_homologados %>
    <%= f.input :julgamentos_com_merito %>
    <%= f.input :julgamentos_sem_merito %>
    <%= f.input :distribuidos %>
    <%= f.input :redistribuidos %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
