<div class="page-header">
  <h1>Gerar Desempenho</h1>
</div>
<div class="container">
  <%= simple_form_for @desempenho, :url => gerar_desempenho_path, :method => :post do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <label for="">Data Referente</label>
      <%= f.date_select :data, {start_year: 2017, end_year: Time.now.year, :discard_day => true}, {:class => "form-control"} %>
      <%= f.association :orgao, as: :select, include_blank: false %>
      <%= f.association :magistrado, as: :select, include_blank: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, {class: "btn btn-sm btn-primary"} %>
    </div>
  <% end %>
</div>

