<div class="container">
    <div class="page-header">
        <h1>Desempenhos Magistrados</h1>
    </div>
    <%= form_tag desempenhos_magistrados_path, class: "form-inline", :method => 'get' do %>
        <div class="input-group-row col-sm-2">
        <label for="mes" class="sr-only">Selecione o Mês</label>
        <%= select_tag(:mes,
            options_for_select([
                ['Janeiro', 1],
                ['Fevereiro', 2],
                ['Março', 3],
                ['Abril', 4],
                ['Maio', 5],
                ['Junho', 6],
                ['Julho', 7],
                ['Agosto', 8],
                ['Setembro', 9],
                ['Outubro', 10],
                ['Novembro', 11],
                ['Dezembro', 12]
                ]),
        {class: "form-control", name: "mes"}) %>
        </div>
        <div class="btn-group" role="group">
            <%= submit_tag "Filtrar", :name => nil, class: "btn btn-primary" %>
            <% if params[:mes] %>
                <%= link_to "Limpar Filtro", desempenhos_magistrados_path, class: "btn btn-warning" %>
            <% end %>
        </div>
    <% end %>
    <% if @desempenhos %>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Magistrado</th>
                    <th>Decisoes</th>
                    <th>Decisoes 557</th>
                    <th>acordos_homologados</th>
                    <th>Julgamentos Com Mérito</th>
                    <th>Julgamentos Sem Mérito</th>
                    <th>distribuidos</th>
                    <th>Redistribuidos</th>
                    <th>Residuos</th>
                </tr>
            </thead>
            <tbody>
                <% @desempenhos.each do |magistrado, desempenhos| %>
                    <tr>
                        <td> <%= magistrado.name %> </td>
                        <td> <%= desempenhos.sum(&:decisoes) %> </td>
                        <td> <%= desempenhos.sum(&:decisoes_557) %> </td>
                        <td> <%= desempenhos.sum(&:acordos_homologados) %> </td>
                        <td> <%= desempenhos.sum(&:julgamentos_com_merito) %> </td>
                        <td> <%= desempenhos.sum(&:julgamentos_sem_merito) %> </td>
                        <td> <%= desempenhos.sum(&:distribuidos) %> </td>
                        <td> <%= desempenhos.sum(&:redistribuidos) %> </td>
                        <td> <%= desempenhos.sum(&:residuos) %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= column_chart @grafico %>
    <% else %>
        <h2>Nenhum Desempenho Nesse Periodo</h2>
    <% end %>
</div>