<div class="page-header">
    <h1>Desempenhos do Ano de 2017</h1>
</div>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Decisoes</th>
            <th>Decisoes 557</th>
            <th>Acordos</th>
            <th>Julgamentos C/ Mérito</th>
            <th>Julgamentos S/ Mérito</th>
            <th>Distribuidos</th>
            <th>Redistribuidos</th>
            <th>Residuos</th>
        </tr>
    </thead>
    <tbody>
        <% @desempenhos.each do |desempenho| %>
          <tr>
            <td><%= desempenho.data.strftime('%B') %></td>
            <td><%= desempenho.decisoes %></td>
            <td><%= desempenho.decisoes_557 %></td>
            <td><%= desempenho.acordos_homologados %></td>
            <td><%= desempenho.julgamentos_com_merito %></td>
            <td><%= desempenho.julgamentos_sem_merito %></td>
            <td><%= desempenho.distribuidos %></td>
            <td><%= desempenho.redistribuidos %></td>
            <td><%= desempenho.residuos %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<%= column_chart @grafico %>
