<div class="page-header">
  <h1>Listar Desempenhos</h1>
</div>

<table id="desempenhos" class="table table-striped table-condensed" width="100%" celspacing="0">
<thead>
    <tr>
      <th></th>
      <th>Orgao</th>
      <th>Magistrado</th>
      <th>Data</th>
      <th>Decisoes</th>
      <th>Decisoes 557</th>
      <th>Acordos</th>
      <th>Julgamentos C/ Mérito</th>
      <th>Julgamentos S/ Mérito</th>
      <th>Distribuidos</th>
      <th>Redistribuidos</th>
      <th>Residuos</th>
    </tr>
  </thead>
  <tbody>
    <% @desempenhos.each do |desempenho| %>
      <tr>
        <td>
          <div class="dropdown show">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Ações
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <%= link_to('Exibir', desempenho, class: 'dropdown-item btn-block btn btn-sm btn-primary') %>
              <% if current_user %>
                <% if current_user.role === 'admin' %>
                  <% if desempenho.ativo? %>
                  <%= button_to('Desbloquear', desbloquear_path(desempenho), :method => :post, class: 'dropdown-item btn-block btn btn-sm btn-success', remote: true) %>
                  <% else %>
                    <%= button_to('Bloquear', bloquear_path(desempenho), :method => :post, class: 'dropdown-item btn-block btn btn-sm btn-danger', remote: true) %>
                  <% end %>
                <% end %>
                <% if desempenho.ativo? %>
                  <%= link_to("Editar", edit_desempenho_path(desempenho), class: "dropdown-item btn-block btn btn-sm btn-warning", remote: true) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= desempenho.orgao.name %></td>
        <td><%= desempenho.magistrado.name %></td>
        <td><%= desempenho.data.strftime('%B/%Y') %></td>
        <td><%= desempenho.decisoes %></td>
        <td><%= desempenho.decisoes_557 %></td>
        <td><%= desempenho.acordos_homologados %></td>
        <td><%= desempenho.julgamentos_com_merito %></td>
        <td><%= desempenho.julgamentos_sem_merito %></td>
        <td><%= desempenho.distribuidos %></td>
        <td><%= desempenho.redistribuidos %></td>
        <td><%= desempenho.residuos %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Desempenho %>
  <%= link_to '+ Desempenho', new_desempenho_path, class: 'btn btn-primary btn-sm' %>
<% end %>
