<p>
  <strong>Autor:</strong>
  <%= @desempenho.user.name %>
</p>


<p>
  <strong>Orgao:</strong>
  <%= @desempenho.orgao.name %>
</p>

<p>
  <strong>Magistrado:</strong>
  <%= @desempenho.magistrado.prefixo %> <%= @desempenho.magistrado.name %>
</p>

<p>
  <strong>Decisoes:</strong>
  <%= @desempenho.decisoes %>
</p>

<p>
  <strong>Decisoes 557:</strong>
  <%= @desempenho.decisoes_557 %>
</p>

<p>
  <strong>Acordos homologados:</strong>
  <%= @desempenho.acordos_homologados %>
</p>

<p>
  <strong>Julgamentos com merito:</strong>
  <%= @desempenho.julgamentos_com_merito %>
</p>

<p>
  <strong>Julgamentos sem merito:</strong>
  <%= @desempenho.julgamentos_sem_merito %>
</p>

<p>
  <strong>Distribuidos:</strong>
  <%= @desempenho.distribuidos %>
</p>

<p>
  <strong>Redistribuidos:</strong>
  <%= @desempenho.redistribuidos %>
</p>

<p>
  <strong>Residuos:</strong>
  <%= @desempenho.residuos %>
</p>

<div class="btn-group">
  <%= link_to('Exibir', @desempenho, class: 'btn btn-sm btn-primary') %>
  <% if current_user.role == 'admin' %>
    <% if @desempenho.ativo? %>
      <%= link_to('Desbloquear', desbloquear_path(@desempenho), :method => :post, class: 'btn btn-sm btn-success', remote: true) %>
    <% else %>
      <%= link_to('Bloquear', bloquear_path(@desempenho), :method => :post, class: 'btn btn-sm btn-danger' ,remote: true) %>
    <% end %>
    <% else %>
      <% if @desempenho.ativo? %>
        <%= link_to("Editar", edit_desempenho_path(@desempenho), class: "btn btn-warning btn-sm", remote: true) %>
      <% end %>
  <% end %>
</div>
