<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :username, required: true %>
      <%= f.input :role, collection: User.roles, label_method: :first, value_method: :first, include_blank: false %>
      <%= f.input :password, required: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.collection_check_boxes(:orgao_ids, Orgao.all, :id, :name, {}, {:multiple => true}) %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>

