<div class="page-header">
    <h1>Usuários</h1>
</div>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nome de Usuário</th>
            <th>Email</th>
            <th>Função</th>
            <th>Orgãos</th>
            <th colspan="3">Opções</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td><%= user.orgaos.map(&:name).join(", ") %> .</td>
        <td>
            <div class="btn-group" role="group">
                <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Excluir', user, method: :delete, data: {confirm: 'Deseja mesmo excluir esse usuário?'}, class: 'btn btn-danger btn-sm' %>
            </div>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= link_to '+ Novo Usuário', new_user_path, class: 'btn btn-primary' %>