<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Orgaos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orgaos.each do |orgao| %>
        <tr>
          <td><%= orgao.name %></td>
          <% if can? [:edit, :destroy], Orgao%>
            <td>
              <span class="btn-group" role="group">
                <%= link_to 'Editar', edit_orgao_path(orgao), class:'btn btn-sm btn-warning' %>
                <%= link_to 'Excluir', orgao, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, Orgao %>
    <%= link_to '+Adicionar Orgão', new_orgao_path, class:'btn btn-sm btn-primary' %>
  <% end %>
</div>