// Place all the styles related to the desempenhos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-menu {
    a,
    input {
        border-radius: 0;
    }
    min-width: 100px;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: 0;
    border: 0;
}

.table {
    text-align: center;
}