<%= simple_form_for(@magistrado) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :genero, collection: Magistrado.generos, label_method: :first, value_method: :first, include_blank: false %>
    <%= f.input :cargo, collection: Magistrado.cargos, label_method: :first, value_method: :first, include_blank: false %>
    <%= f.collection_check_boxes(:orgao_ids, Orgao.all, :id, :name, {}, {:multiple => true}) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
