<h1>Magistrados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genero</th>
      <th>Orgaos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magistrados.each do |magistrado| %>
      <tr>
        <td><%= magistrado.prefixo %> <%= magistrado.name %></td>
        <td><%= magistrado.genero %></td>
        <td><%= magistrado.orgaos.map(&:name).join(", ") %> .</td>
        <% if can? [:update, :destroy], Magistrado %>
          <td>
            <div class="btn-group" role="group">
              <%= link_to 'Editar', edit_magistrado_path(magistrado), class: 'btn btn-sm btn-warning' %>
              <%= link_to 'Deletar', magistrado, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-sm btn-danger' %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Magistrado %>
  <%= link_to '+ Adicionar Magistrado', new_magistrado_path, class: 'btn btn-sm btn-primary' %>
<% end %>

